@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-onyx: #0A0A0A;
  --color-void: #050505;
  --color-gold: #D4AF37;
  --color-silver: #E0E0E0;

  --font-display: 'Outfit', sans-serif;
  --font-sans: 'Inter', sans-serif;

  --image-onyx-gradient: linear-gradient(to bottom right, #121212, #000000);
  --image-gold-gradient: linear-gradient(45deg, #D4AF37, #C5A028);
}

@layer utilities {
  .glass-card {
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgb(255 255 255 / 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(212, 175, 55, 0.5);
  }

  .onyx-gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, white, #E0E0E0, #9ca3af);
  }
}